{{#if book}}
  <div class='card card-body'>
    <h2 class='text-center mb-2'>{{book.title}}</h2>
    <p><b>Author Name:</b> {{book.author.name}}</p>
    <p><b>Editorial:</b> {{book.editorial}}</p>
    <p><b>Price:</b> {{book.price}}€</p>
    <form class='mt-2' action='/books/{{book._id}}' method='post'>
      <a href='/books/{{book._id}}/edit' class='btn btn-secondary'>Update</a>
      <input type='hidden' name='_method' value='DELETE' />
      <button class='btn btn-danger' type='submit'>Delete</button>
    </form>
  </div>
{{/if}}